<section>
  <div class="wrapper wrapper-quiz-v2 text-page">
    <div class="content-wrap">
      <div class="question-header">
        <h1 ng-if="vm.vitaminOpinionId === 1">Een kenner dus, hè? Laten we kijken of wij jou iets nieuws kunnen leren.</h1>
        <h1 ng-if="vm.vitaminOpinionId === 2">Altijd nieuwsgierig blijven als het om je gezondheid gaat, {{vm.name}}!</h1>
        <h1 ng-if="vm.vitaminOpinionId === 2.1">Geen zorgen, het duurt minder dan 3 minuten.</h1>
        <h1 ng-if="vm.vitaminOpinionId === 3">Prima, eerst zien dan geloven, dat begrijpen we! Al onze bevindingen zijn wetenschappelijk onderbouwd.</h1>
      </div>
    </div>
  </div>
</section>