pandas<2
numpy == 1.25.0
unoserver == 1.4
docxtpl == 0.16.7
tqdm == 4.65.0
xlrd == 2.0.1
sqlalchemy<2
PyMySQL == 1.1.0
ruamel.yaml == 0.17.32
rocketry == 2.5.1
typer == 0.9.0
colorama == 0.4.6
shellingham == 1.5.0.post1
pytest == 7.4.0
requests == 2.31.0
pillow == 10.3.0