<h3 class="checkout-credentials-title" ng-if="vm.isCheckout">Jouw details</h3>
<div class="order-credentials">
  <div class="input-row">
    <div>
      <label for="name">Naam</label>
      <div class="input-wrapper">
        <input type="text" name="name" id="name" value="" ng-model="vm.user.firstName" required>
      </div>
      <p class="input-error" ng-if="vm.$haserror('name', 'required')">Dit veld is verplicht</p>
    </div>
    <div>
      <label for="lastname">Achternaam</label>
      <div class="input-wrapper">
        <input type="text" name="lastname" id="lastname" value="" ng-model="vm.user.lastName" required>
      </div>
      <p class="input-error" ng-if="vm.$haserror('lastname', 'required')">Dit veld is verplicht</p>
    </div>
  </div>

  <div class="input-row">
    <div>
      <label for="phonenumber">Telefoonnummer</label>
      <div class="input-wrapper">
        <input type="tel" name="phonenumber" id="phonenumber" value="" ng-model="vm.user.phoneNumber" required>
      </div>
      <p class="input-error" ng-if="vm.$haserror('phonenumber', 'required')">Dit veld is verplicht</p>
    </div>
    <div>
      <label for="email">E-mailadres</label>
      <div class="input-wrapper">
        <!-- Regex used from: https://emailregex.com/ -->
        <input type="email" name="email" id="email" value="" ng-model="vm.user.email" ng-readonly="vm.isDomain" ng-pattern=/(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/ required>
      </div>
      <p class="input-error" ng-if="vm.$haserror('email', 'required')">Dit veld is verplicht</p>
      <p class="input-error" ng-if="vm.$haserror('email') ">Vul een geldig e-mail in</p>
    </div>
  </div>
</div>

<h3 class="checkout-credentials-title" ng-if="vm.isCheckout">Bezorgadres</h3>
<div class="order-credentials">
  <div class="input-row">
    <div>
      <label for="zipcode">Postcode</label>
      <div class="input-wrapper">
        <input type="text" name="zipcode" id="zipcode" value="" ng-model="vm.user.postcode" ng-change="vm.addressInputChange(true)" ng-blur="vm.addressInputBlur()" required>
      </div>
      <p class="input-error" ng-if="vm.$haserror('zipcode', 'required')">Dit veld is verplicht</p>
    </div>
    <div>
      <label for="houseNumber">Huisnummer</label>
      <div class="input-wrapper">
        <input type="text" name="houseNumber" id="houseNumber" value="" ng-model="vm.user.houseNumber" ng-change="vm.addressInputChange(true)" ng-blur="vm.addressInputBlur()" required>
      </div>
      <p class="input-error" ng-if="vm.$haserror('houseNumber', 'required')">Dit veld is verplicht</p>
    </div>
    <div ng-if="vm.houseNumberAdditions || vm.showHouseNumerAddition">
      <label for="houseNumberAddition">Toevoeging</label>
      <div class="input-wrapper">
        <input type="text" name="houseNumberAddition" list="houseNumberAddition" ng-model="vm.user.houseNumberAddition" ng-change="vm.addressInputChange(false)" ng-blur="vm.addressInputBlur()" ng-required="vm.houseNumberAdditions && vm.houseNumberAdditions[0] !== null && vm.user.country === 'NL'" autocomplete="off">
        <datalist id="houseNumberAddition">
          <option ng-repeat="houseNumberAddition in vm.houseNumberAdditions" value="{{houseNumberAddition}}">{{houseNumberAddition}}</option>
        </datalist>
      </div>
      <p class="input-error" ng-if="vm.$haserror('houseNumberAddition', 'required')">Dit veld is verplicht</p>
    </div>
  </div>

  <div class="input-row">
    <div ng-if="vm.user.street || vm.showStreet">
      <label for="street">Straat</label>
      <div class="input-wrapper">
        <input type="text" name="street" id="street" value="" ng-model="vm.user.street" ng-readonly="!vm.showStreet" ng-change="vm.addressInputChange(false)" ng-blur="vm.addressInputBlur()" required>
      </div>
      <p class="input-error" ng-if="vm.$haserror('street', 'required')">Dit veld is verplicht</p>
    </div>
    <div ng-if="vm.user.city">
      <label for="city">Plaats</label>
      <div class="input-wrapper">
        <input type="text" name="city" id="city" value="" ng-model="vm.user.city" readonly required>
      </div>
      <p class="input-error" ng-if="vm.$haserror('city', 'required')">Dit veld is verplicht</p>
    </div>
    <div class="country-select">
      <label for="country">Land</label>
      <div class="input-wrapper">
        <select class="country" name="country" ng-model="vm.user.country" ng-change="vm.addressInputChange(true)">
          <option value="NL">Nederland</option>
          <option value="BE">België</option>
        </select>
      </div>
    </div>
  </div>
  <p class="input-error customer" ng-if="vm.noAddressFound">Adres wordt niet herkend</p>
</div>