<section>
  <div class="wrapper wrapper-quiz-v2">
    <div class="question-header">
      <h1>Welke twee onderwerpen gaan we verkennen?</h1>
      <h2>We vragen je ongeveer 3 tot 5 vragen per doel</h2>
    </div>
    <div class="quiz-button-wrapper quiz-button-wrapper--until-small">
      <div class="quiz-button quiz-button--icon" ng-repeat="answer in vm.questionAnswers">
        <input type="checkbox" id="answer-{{answer.code}}" name="usage-goals" value="{{answer.id}}" ng-model="answer.selected" ng-click="vm.saveQuestionAnswer(answer)">
        <label for="answer-{{answer.code}}">
          <i class="icon icon-{{answer.code}}"></i>
          {{answer.name}}
          <span ng-if="answer.subtitle">{{answer.subtitle}}</span>
        </label>
      </div>
    </div>
    <div class="bottom-cta-wrapper">
      <a href="" class="button submit-button" ng-click="vm.gotoNextCategoryStep()" ng-class="{'button-disabled': vm.answers.length < 1 || vm.answers.length > 2 }">Volgende
        <i class="icon icon-arrowTabbar"></i>
      </a>
    </div>
  </div>
</section>
<vi-progress current="vm.questionConfig.currentProgress" total="100"></vi-progress>