<div class="membership-wrapper">
  <div class="wrapper-compact-wide">
    <div class="domain-page-information">
      <a href="/domain"><i class="icon icon-arrowTabbar"></i></a>
      <h3>Ben je er echt volledig zeker van dat je wil stopzetten?</h3>
      <h4>We gaan je missen als je bij ons weg gaat.</h4>
    </div>

    <div class="stop-membership-wrapper">
      <div class="quiz-button--1 quiz-button--icon">
        <input type="radio" id="answer-yes" name="reason" value="yes" ng-model="vm.reason" ng-click="vm.stopMembership()">
        <label for="answer-yes">
          <i class="icon icon-skeptical"></i>
          Ja, stopzetten graag
          <span>Je kunt altijd makkelijk je lidmaatschap weer activeren</span>
        </label>
      </div>
    </div>
    <div class="domain-page-information">
      <h4><a href="/domain">Laat maar zitten, ik wil helemaal niet stopzetten</a></h4>
    </div>
  </div>
</div>