<section>
  <div class="wrapper wrapper-quiz-v2">
    <div class="question-header">
      <i class="icon icon-libido"></i>
      <h1>Hoe zou je je huidige libido omschrijven?</h1>
    </div>

    <div class="quiz-button" ng-repeat="answer in vm.questionAnswers">
      <input type="radio" id="answer-{{answer.code}}" name="current-libido" value="{{answer.id}}" ng-model="vm.questionConfig.answerId" ng-click="vm.submitQuestionAnswer(answer.id)">
      <label for="answer-{{answer.code}}">
        {{answer.name}}
        <span ng-if="answer.subtitle">{{answer.subtitle}}</span>
      </label>
    </div>
  </div>
</section>
<vi-progress current="vm.questionConfig.currentProgress" total="100"></vi-progress>