.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.table-div {
  border-radius: 8px;
  //overflow: hidden !important;
  overflow-x: scroll;
}

mat-cell,
.mat-cell {
  padding: 12px 16px 12px 0;
}
mat-header-cell,
.mat-header-cell {
  padding: 12px 16px 12px 0;
}
.row-hover:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.active {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  margin-left: 2.5px;
}
