<section>
  <div class="wrapper wrapper-quiz-v2">
    <div class="question-header">
      <i class="icon icon-yoga"></i>
      <h1>Uit wat voor soort oefeningen bestaat jouw training?</h1>
    </div>

    <div class="quiz-button quiz-button--icon" ng-repeat="answer in vm.questionAnswers | showNoAnswerFirst">
      <input type="radio" id="answer-{{answer.code}}" name="type-of-training" value="{{answer.id}}" ng-model="vm.questionConfig.answerId" ng-click="vm.submitQuestionAnswer(answer.id)">
      <label for="answer-{{answer.code}}">
        <i class="icon icon-{{answer.code}}"></i>
        {{answer.name}}
        <span ng-if="answer.subtitle">{{answer.subtitle}}</span>
      </label>
    </div>
  </div>
</section>
<vi-progress current="vm.questionConfig.currentProgress" total="100"></vi-progress>