<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div style="text-align: center; max-width: 600px; margin: 0 auto;">
    <div style="margin: 3em auto; display:block; text-align: center;">
        <img src="cid:viteezy_logo" style="width: 400px;">
    </div>
    <p style="margin-bottom: 0;">Hi <span th:text="${name}"></span>,</p>
    <p style="margin-top: 0;">De levering van je volgende Viteezy pakket is <b>succesvol aangepast.</b></p>
    <p style="margin-top: 0;">Jouw volgende vitamine pakket ontvang je op:</p>
    <b th:text="${date}"></b>
    <p>Eventuele wijzigingen aan je volgende vitamine plan kunnen tot 8 dagen voor de nieuwe leverdatum worden doorgevoerd.</p>
    <p>Mochten wij je in de tussentijd nog ergens bij kunnen ondersteunen, dan horen wij dit graag via <a href="mailto:info@viteezy.nl" style="text-decoration: underline;">info@viteezy.nl</a>.</p>
    <p>Vriendelijke groet,</p>
    <p>Viteezy</p>
</div>
</body>
</html>