<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div style="text-align: center; max-width: 600px; margin: 0 auto;">
    <div style="margin: 3em auto; display:block; text-align: center;">
        <img src="cid:viteezy_logo" style="width: 400px;">
    </div>
    <p>Hi <span th:text="${name}"></span>, jammer dat je stopt met je vitamines.</p>
    <p>Wij hebben je persoonlijke lidmaatschap bij Viteezy zojuist <b>succesvol stopgezet</b>. Wij zullen geen nieuwe betalingen meer van je rekening afschrijven. Als er momenteel nog een vitamine pakket voor jou in productie is, dan zal je deze uiteraard nog van ons ontvangen.</p>
    <p>Mocht je in de toekomst toch weer willen beginnen met je gepersonaliseerde vitamines, dan kun je via jouw eigen Viteezy account heel gemakkelijk je lidmaatschap weer her-activeren.</p>
    <p>Weet dat wij altijd voor je klaar staan en ons best zullen doen om jouw gezondheid te ondersteunen. Je kunt ons blijven bereiken via <a href="mailto:info@viteezy.nl" style="text-decoration: underline;">info@viteezy.nl</a></p>
    <p>Vriendelijke groet,</p>
    <p>Viteezy</p>
</div>
</body>
</html>